html{
    display: flex;
    justify-content: center;
    background-color: rgb(55, 28, 28);
}


#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 5px;
    width: 170px;
    background-color: rgb(117, 117, 117);
    padding: 30px;
    border-radius: 20px;
}


#input{
    background-color: rgb(165, 171, 176);
    border-radius: 5px;
    height: 40px;
}


.numberBtn{
    margin-top: 5px;
    color: aliceblue;
    border:blue;
    border-radius: 10px;
    background-color: rgb(0, 0, 152);
    width: 50px;
    height: 40px;
}

.numberBtn:hover{
    background-color: rgb(0, 0, 125);
}


.arithmeticBtn{
    color: aliceblue;
    border:green;
    border-radius: 10px;
    background-color: green;
    width: 50px;
    height: 40px;
    margin-top: 5px;
}

.arithmeticBtn:hover{
    background-color: rgb(1, 100, 1);
}
